

.contact
	background url('../img/contact-bg.jpg') no-repeat center
	background-size cover
	color #fff

	.inputs-wrap
		padding-right 80px

	.box-header
		margin-bottom 27px

	.text
		p
			padding-top 20px
			margin-bottom 20px

	.button-wrap
		padding-top 7px

	.field
		margin-bottom 30px

		label
			color white
			font-weight 700
			text-transform uppercase
			display block
			padding 4px 0

		.input
			display block
			background transparent
			border 2px solid #fff
			font inherit
			outline none
			padding 17px
			height auto
			width 100%
			_transition border-color

			&:focus
				border-color $main-color

		textarea.input
			max-width 100%
			resize vertical

	button.btn
		max-width 370px
		width 100%
		display block
		padding 16px 39px
