

.hero
	background url('../img/hero-bg.jpg') no-repeat center center
	background-size cover
	padding 300px 0 250px 0
	text-align center
	color white
	font-size _em(40px)
	font-weight 300
	text-transform uppercase
	display flex
	justify-content center
	align-items center
	flex-direction column

	p
		background-color rgba($bg-color, .85)
		width auto
		padding 0 20px
		margin-bottom 12px

