

.services
	background-color $main-color
	color #fff

	.items
		margin 0 -15px -25px

	.item
		padding 0 15px
		margin-bottom 25px

		.icon
			margin-bottom 20px

		p
			margin-bottom 12px
			font-size _em(12px)
			line-height 1.5

			&.title
				font-size _em(24px)
				line-height 1.1
				text-transform uppercase

			&:last-of-type
				margin-bottom 0