

.whois
	background url('../img/whois-bg.jpg') no-repeat center center
	background-size cover
	padding-top 93px
	padding-bottom 152px

	.items
		margin -20px

		.item
			padding 20px

	.socials
		padding-top 23px