

*
	box-sizing border-box


html
	height 100%


body
	background-color #fff
	cursor default
	-webkit-font-smoothing antialiased
	min-width 320px
	min-height 100%
	position relative
	margin 0
	overflow-x hidden


h1, h2, h3, h4, h5, h6, p
	margin 0
	padding 0


a
	text-decoration none
	color inherit


.clearfix

	&:after
		content ""
		display table
		height 0
		width 0
		clear both
		visibility hidden


img
	vertical-align top
	border none // ie -_-


.hidden
	display none !important


.responsive
	width 100%
	max-width 100%
	display block


.text-center
	text-align center

.text-left
	text-align left

.text-right
	text-align right


ul.unstyled
	list-style none
	padding 0
	margin 0

