

@media only screen and (max-width: 1199px)

	.hero
		font-size _em(28px)


@media only screen and (max-width: 991px)

	.padded-right, .padded-left
		padding-right 0
		padding-left 0

	.default h2
		text-align center

		&:after
			margin 5px auto

	.socials
		text-align center

	.default
		.col
			margin-bottom 30px

			&:last-of-type
				margin-bottom 0


@media only screen and (max-width: 767px)

	html
		font-size 13px


	.contact .inputs-wrap
		padding-right 0

	.row
		padding-right 10px
		padding-left 10px

	.whois

		.items
			margin 0

			.item
				padding 0

	.contact button.btn
		max-width auto
		width auto
		display inline-block

	.contact .text p
		margin-bottom 10px
		padding-top 0

	.quote-section .content blockquote
		font-size 1.5em

	.quote-section .box-header
		padding 0 10px

	.whois .items .item
		margin-bottom 0
		padding-top 0
		padding-bottom 0

	.main-box
		text-align center

	.portfolio .items,
	.services .items,
	.tags
		margin-left 0
		margin-right 0

	.box-header h2:after
		margin-left auto
		margin-right auto

	.main-header

		.toggle-nav
			display block

	.main-nav
		display none
		padding-top 30px
		text-align center

		&.active
			display block

		a
			display block
			margin-bottom 5px

			&:last-of-type
				margin-bottom 0
				margin-right 0

	.hero
		font-size _em(16px)
		padding 200px 0 150px 0

	.portfolio
		.box-header h2,
		.tags
			float none

	.portfolio
		.item
			padding 1px

	.main-header
		padding 38px 5px

	.services
		.item

			.icon,
			p.title
				display inline-block
				vertical-align middle
				margin-bottom 0

			p + p
				padding-top 15px

	.main-footer
		text-align center

		nav, .copyright
			float none

		nav
			margin-bottom 20px


// @media only screen and (min-width: 768px)



// @media only screen and (min-width: 992px)



// @media only screen and (min-width: 1200px)



