/*

z-index
	2: .portfolio .overlay
	3: .main-header

*/
.row,
.row-fluid {
  font-size: 0;
  display: block;
  width: 100%;
}
.row,
.row-fluid,
.row-block {
  margin-left: auto;
  margin-right: auto;
}
.row-padded {
  padding-left: 15px;
  padding-right: 15px;
}
.col {
  display: inline-block;
  font-size: 14px;
  font-size: 1rem;
  vertical-align: top;
  position: relative;
}
.col-mb {
  margin-bottom: 15px;
}
.col-middle {
  vertical-align: middle;
}
.col-top {
  vertical-align: top;
}
.col-bottom {
  vertical-align: bottom;
}
@media only screen and (min-width: 0) {
  .row,
  .row-block {
    max-width: 100%;
  }
  .xs-pull-0 {
    right: 0%;
  }
  .xs-push-0 {
    left: 0%;
  }
  .xs-offset-0 {
    margin-left: 0%;
  }
  .xs-1 {
    width: 8.333333333333334%;
  }
  .xs-pull-1 {
    right: 8.333333333333334%;
  }
  .xs-push-1 {
    left: 8.333333333333334%;
  }
  .xs-offset-1 {
    margin-left: 8.333333333333334%;
  }
  .xs-2 {
    width: 16.666666666666668%;
  }
  .xs-pull-2 {
    right: 16.666666666666668%;
  }
  .xs-push-2 {
    left: 16.666666666666668%;
  }
  .xs-offset-2 {
    margin-left: 16.666666666666668%;
  }
  .xs-3 {
    width: 25%;
  }
  .xs-pull-3 {
    right: 25%;
  }
  .xs-push-3 {
    left: 25%;
  }
  .xs-offset-3 {
    margin-left: 25%;
  }
  .xs-4 {
    width: 33.333333333333336%;
  }
  .xs-pull-4 {
    right: 33.333333333333336%;
  }
  .xs-push-4 {
    left: 33.333333333333336%;
  }
  .xs-offset-4 {
    margin-left: 33.333333333333336%;
  }
  .xs-5 {
    width: 41.66666666666667%;
  }
  .xs-pull-5 {
    right: 41.66666666666667%;
  }
  .xs-push-5 {
    left: 41.66666666666667%;
  }
  .xs-offset-5 {
    margin-left: 41.66666666666667%;
  }
  .xs-6 {
    width: 50%;
  }
  .xs-pull-6 {
    right: 50%;
  }
  .xs-push-6 {
    left: 50%;
  }
  .xs-offset-6 {
    margin-left: 50%;
  }
  .xs-7 {
    width: 58.333333333333336%;
  }
  .xs-pull-7 {
    right: 58.333333333333336%;
  }
  .xs-push-7 {
    left: 58.333333333333336%;
  }
  .xs-offset-7 {
    margin-left: 58.333333333333336%;
  }
  .xs-8 {
    width: 66.66666666666667%;
  }
  .xs-pull-8 {
    right: 66.66666666666667%;
  }
  .xs-push-8 {
    left: 66.66666666666667%;
  }
  .xs-offset-8 {
    margin-left: 66.66666666666667%;
  }
  .xs-9 {
    width: 75%;
  }
  .xs-pull-9 {
    right: 75%;
  }
  .xs-push-9 {
    left: 75%;
  }
  .xs-offset-9 {
    margin-left: 75%;
  }
  .xs-10 {
    width: 83.33333333333334%;
  }
  .xs-pull-10 {
    right: 83.33333333333334%;
  }
  .xs-push-10 {
    left: 83.33333333333334%;
  }
  .xs-offset-10 {
    margin-left: 83.33333333333334%;
  }
  .xs-11 {
    width: 91.66666666666667%;
  }
  .xs-pull-11 {
    right: 91.66666666666667%;
  }
  .xs-push-11 {
    left: 91.66666666666667%;
  }
  .xs-offset-11 {
    margin-left: 91.66666666666667%;
  }
  .xs-12 {
    width: 100%;
  }
  .xs-pull-12 {
    right: 100%;
  }
  .xs-push-12 {
    left: 100%;
  }
  .xs-offset-12 {
    margin-left: 100%;
  }
  .xs-pull-0 {
    right: 0;
  }
  .xs-push-0 {
    left: 0;
  }
  .xs-offset-0 {
    margin-left: 0;
  }
  .xs-mb {
    margin-bottom: 15px;
  }
  .xs-top {
    vertical-align: top;
  }
  .xs-middle {
    vertical-align: middle;
  }
  .xs-bottom {
    vertical-align: bottom;
  }
}
@media only screen and (min-width: 768px) {
  .row,
  .row-block {
    max-width: 750px;
  }
  .sm-pull-0 {
    right: 0%;
  }
  .sm-push-0 {
    left: 0%;
  }
  .sm-offset-0 {
    margin-left: 0%;
  }
  .sm-1 {
    width: 8.333333333333334%;
  }
  .sm-pull-1 {
    right: 8.333333333333334%;
  }
  .sm-push-1 {
    left: 8.333333333333334%;
  }
  .sm-offset-1 {
    margin-left: 8.333333333333334%;
  }
  .sm-2 {
    width: 16.666666666666668%;
  }
  .sm-pull-2 {
    right: 16.666666666666668%;
  }
  .sm-push-2 {
    left: 16.666666666666668%;
  }
  .sm-offset-2 {
    margin-left: 16.666666666666668%;
  }
  .sm-3 {
    width: 25%;
  }
  .sm-pull-3 {
    right: 25%;
  }
  .sm-push-3 {
    left: 25%;
  }
  .sm-offset-3 {
    margin-left: 25%;
  }
  .sm-4 {
    width: 33.333333333333336%;
  }
  .sm-pull-4 {
    right: 33.333333333333336%;
  }
  .sm-push-4 {
    left: 33.333333333333336%;
  }
  .sm-offset-4 {
    margin-left: 33.333333333333336%;
  }
  .sm-5 {
    width: 41.66666666666667%;
  }
  .sm-pull-5 {
    right: 41.66666666666667%;
  }
  .sm-push-5 {
    left: 41.66666666666667%;
  }
  .sm-offset-5 {
    margin-left: 41.66666666666667%;
  }
  .sm-6 {
    width: 50%;
  }
  .sm-pull-6 {
    right: 50%;
  }
  .sm-push-6 {
    left: 50%;
  }
  .sm-offset-6 {
    margin-left: 50%;
  }
  .sm-7 {
    width: 58.333333333333336%;
  }
  .sm-pull-7 {
    right: 58.333333333333336%;
  }
  .sm-push-7 {
    left: 58.333333333333336%;
  }
  .sm-offset-7 {
    margin-left: 58.333333333333336%;
  }
  .sm-8 {
    width: 66.66666666666667%;
  }
  .sm-pull-8 {
    right: 66.66666666666667%;
  }
  .sm-push-8 {
    left: 66.66666666666667%;
  }
  .sm-offset-8 {
    margin-left: 66.66666666666667%;
  }
  .sm-9 {
    width: 75%;
  }
  .sm-pull-9 {
    right: 75%;
  }
  .sm-push-9 {
    left: 75%;
  }
  .sm-offset-9 {
    margin-left: 75%;
  }
  .sm-10 {
    width: 83.33333333333334%;
  }
  .sm-pull-10 {
    right: 83.33333333333334%;
  }
  .sm-push-10 {
    left: 83.33333333333334%;
  }
  .sm-offset-10 {
    margin-left: 83.33333333333334%;
  }
  .sm-11 {
    width: 91.66666666666667%;
  }
  .sm-pull-11 {
    right: 91.66666666666667%;
  }
  .sm-push-11 {
    left: 91.66666666666667%;
  }
  .sm-offset-11 {
    margin-left: 91.66666666666667%;
  }
  .sm-12 {
    width: 100%;
  }
  .sm-pull-12 {
    right: 100%;
  }
  .sm-push-12 {
    left: 100%;
  }
  .sm-offset-12 {
    margin-left: 100%;
  }
  .sm-pull-0 {
    right: 0;
  }
  .sm-push-0 {
    left: 0;
  }
  .sm-offset-0 {
    margin-left: 0;
  }
  .sm-mb {
    margin-bottom: 15px;
  }
  .sm-top {
    vertical-align: top;
  }
  .sm-middle {
    vertical-align: middle;
  }
  .sm-bottom {
    vertical-align: bottom;
  }
}
@media only screen and (min-width: 992px) {
  .row,
  .row-block {
    max-width: 970px;
  }
  .md-pull-0 {
    right: 0%;
  }
  .md-push-0 {
    left: 0%;
  }
  .md-offset-0 {
    margin-left: 0%;
  }
  .md-1 {
    width: 8.333333333333334%;
  }
  .md-pull-1 {
    right: 8.333333333333334%;
  }
  .md-push-1 {
    left: 8.333333333333334%;
  }
  .md-offset-1 {
    margin-left: 8.333333333333334%;
  }
  .md-2 {
    width: 16.666666666666668%;
  }
  .md-pull-2 {
    right: 16.666666666666668%;
  }
  .md-push-2 {
    left: 16.666666666666668%;
  }
  .md-offset-2 {
    margin-left: 16.666666666666668%;
  }
  .md-3 {
    width: 25%;
  }
  .md-pull-3 {
    right: 25%;
  }
  .md-push-3 {
    left: 25%;
  }
  .md-offset-3 {
    margin-left: 25%;
  }
  .md-4 {
    width: 33.333333333333336%;
  }
  .md-pull-4 {
    right: 33.333333333333336%;
  }
  .md-push-4 {
    left: 33.333333333333336%;
  }
  .md-offset-4 {
    margin-left: 33.333333333333336%;
  }
  .md-5 {
    width: 41.66666666666667%;
  }
  .md-pull-5 {
    right: 41.66666666666667%;
  }
  .md-push-5 {
    left: 41.66666666666667%;
  }
  .md-offset-5 {
    margin-left: 41.66666666666667%;
  }
  .md-6 {
    width: 50%;
  }
  .md-pull-6 {
    right: 50%;
  }
  .md-push-6 {
    left: 50%;
  }
  .md-offset-6 {
    margin-left: 50%;
  }
  .md-7 {
    width: 58.333333333333336%;
  }
  .md-pull-7 {
    right: 58.333333333333336%;
  }
  .md-push-7 {
    left: 58.333333333333336%;
  }
  .md-offset-7 {
    margin-left: 58.333333333333336%;
  }
  .md-8 {
    width: 66.66666666666667%;
  }
  .md-pull-8 {
    right: 66.66666666666667%;
  }
  .md-push-8 {
    left: 66.66666666666667%;
  }
  .md-offset-8 {
    margin-left: 66.66666666666667%;
  }
  .md-9 {
    width: 75%;
  }
  .md-pull-9 {
    right: 75%;
  }
  .md-push-9 {
    left: 75%;
  }
  .md-offset-9 {
    margin-left: 75%;
  }
  .md-10 {
    width: 83.33333333333334%;
  }
  .md-pull-10 {
    right: 83.33333333333334%;
  }
  .md-push-10 {
    left: 83.33333333333334%;
  }
  .md-offset-10 {
    margin-left: 83.33333333333334%;
  }
  .md-11 {
    width: 91.66666666666667%;
  }
  .md-pull-11 {
    right: 91.66666666666667%;
  }
  .md-push-11 {
    left: 91.66666666666667%;
  }
  .md-offset-11 {
    margin-left: 91.66666666666667%;
  }
  .md-12 {
    width: 100%;
  }
  .md-pull-12 {
    right: 100%;
  }
  .md-push-12 {
    left: 100%;
  }
  .md-offset-12 {
    margin-left: 100%;
  }
  .md-pull-0 {
    right: 0;
  }
  .md-push-0 {
    left: 0;
  }
  .md-offset-0 {
    margin-left: 0;
  }
  .md-mb {
    margin-bottom: 15px;
  }
  .md-top {
    vertical-align: top;
  }
  .md-middle {
    vertical-align: middle;
  }
  .md-bottom {
    vertical-align: bottom;
  }
}
@media only screen and (min-width: 1200px) {
  .row,
  .row-block {
    max-width: 1170px;
  }
  .lg-pull-0 {
    right: 0%;
  }
  .lg-push-0 {
    left: 0%;
  }
  .lg-offset-0 {
    margin-left: 0%;
  }
  .lg-1 {
    width: 8.333333333333334%;
  }
  .lg-pull-1 {
    right: 8.333333333333334%;
  }
  .lg-push-1 {
    left: 8.333333333333334%;
  }
  .lg-offset-1 {
    margin-left: 8.333333333333334%;
  }
  .lg-2 {
    width: 16.666666666666668%;
  }
  .lg-pull-2 {
    right: 16.666666666666668%;
  }
  .lg-push-2 {
    left: 16.666666666666668%;
  }
  .lg-offset-2 {
    margin-left: 16.666666666666668%;
  }
  .lg-3 {
    width: 25%;
  }
  .lg-pull-3 {
    right: 25%;
  }
  .lg-push-3 {
    left: 25%;
  }
  .lg-offset-3 {
    margin-left: 25%;
  }
  .lg-4 {
    width: 33.333333333333336%;
  }
  .lg-pull-4 {
    right: 33.333333333333336%;
  }
  .lg-push-4 {
    left: 33.333333333333336%;
  }
  .lg-offset-4 {
    margin-left: 33.333333333333336%;
  }
  .lg-5 {
    width: 41.66666666666667%;
  }
  .lg-pull-5 {
    right: 41.66666666666667%;
  }
  .lg-push-5 {
    left: 41.66666666666667%;
  }
  .lg-offset-5 {
    margin-left: 41.66666666666667%;
  }
  .lg-6 {
    width: 50%;
  }
  .lg-pull-6 {
    right: 50%;
  }
  .lg-push-6 {
    left: 50%;
  }
  .lg-offset-6 {
    margin-left: 50%;
  }
  .lg-7 {
    width: 58.333333333333336%;
  }
  .lg-pull-7 {
    right: 58.333333333333336%;
  }
  .lg-push-7 {
    left: 58.333333333333336%;
  }
  .lg-offset-7 {
    margin-left: 58.333333333333336%;
  }
  .lg-8 {
    width: 66.66666666666667%;
  }
  .lg-pull-8 {
    right: 66.66666666666667%;
  }
  .lg-push-8 {
    left: 66.66666666666667%;
  }
  .lg-offset-8 {
    margin-left: 66.66666666666667%;
  }
  .lg-9 {
    width: 75%;
  }
  .lg-pull-9 {
    right: 75%;
  }
  .lg-push-9 {
    left: 75%;
  }
  .lg-offset-9 {
    margin-left: 75%;
  }
  .lg-10 {
    width: 83.33333333333334%;
  }
  .lg-pull-10 {
    right: 83.33333333333334%;
  }
  .lg-push-10 {
    left: 83.33333333333334%;
  }
  .lg-offset-10 {
    margin-left: 83.33333333333334%;
  }
  .lg-11 {
    width: 91.66666666666667%;
  }
  .lg-pull-11 {
    right: 91.66666666666667%;
  }
  .lg-push-11 {
    left: 91.66666666666667%;
  }
  .lg-offset-11 {
    margin-left: 91.66666666666667%;
  }
  .lg-12 {
    width: 100%;
  }
  .lg-pull-12 {
    right: 100%;
  }
  .lg-push-12 {
    left: 100%;
  }
  .lg-offset-12 {
    margin-left: 100%;
  }
  .lg-pull-0 {
    right: 0;
  }
  .lg-push-0 {
    left: 0;
  }
  .lg-offset-0 {
    margin-left: 0;
  }
  .lg-mb {
    margin-bottom: 15px;
  }
  .lg-top {
    vertical-align: top;
  }
  .lg-middle {
    vertical-align: middle;
  }
  .lg-bottom {
    vertical-align: bottom;
  }
}
html {
  font-family: sans-serif;
  text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  appearance: textfield;
  box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
@font-face {
  font-family: "Segoe Ui";
  src: url("../fonts/SegoeUIRegular/SegoeUIRegular.eot");
  src: url("../fonts/SegoeUIRegular/SegoeUIRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUIRegular/SegoeUIRegular.woff") format("woff"), url("../fonts/SegoeUIRegular/SegoeUIRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Segoe Ui";
  src: url("../fonts/SegoeUIBold/SegoeUIBold.eot");
  src: url("../fonts/SegoeUIBold/SegoeUIBold.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUIBold/SegoeUIBold.woff") format("woff"), url("../fonts/SegoeUIBold/SegoeUIBold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "Segoe Ui";
  src: url("../fonts/SegoeUIItalic/SegoeUIItalic.eot");
  src: url("../fonts/SegoeUIItalic/SegoeUIItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUIItalic/SegoeUIItalic.woff") format("woff"), url("../fonts/SegoeUIItalic/SegoeUIItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
}
@font-face {
  font-family: "Segoe Ui";
  src: url("../fonts/SegoeUILight/SegoeUILight.eot");
  src: url("../fonts/SegoeUILight/SegoeUILight.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUILight/SegoeUILight.woff") format("woff"), url("../fonts/SegoeUILight/SegoeUILight.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Segoe Ui";
  src: url("../fonts/SegoeUISemiBold/SegoeUISemiBold.eot");
  src: url("../fonts/SegoeUISemiBold/SegoeUISemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUISemiBold/SegoeUISemiBold.woff") format("woff"), url("../fonts/SegoeUISemiBold/SegoeUISemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}
* {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  background-color: #fff;
  cursor: default;
  -webkit-font-smoothing: antialiased;
  min-width: 320px;
  min-height: 100%;
  position: relative;
  margin: 0;
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
.clearfix:after,
.portfolio .box-header:after,
.quote-section .box-header:after {
  content: "";
  display: table;
  height: 0;
  width: 0;
  clear: both;
  visibility: hidden;
}
img {
  vertical-align: top;
  border: none;
}
.hidden {
  display: none !important;
}
.responsive {
  width: 100%;
  max-width: 100%;
  display: block;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
ul.unstyled {
  list-style: none;
  padding: 0;
  margin: 0;
}
.contact {
  background: url("../img/contact-bg.jpg") no-repeat center;
  background-size: cover;
  color: #fff;
}
.contact .inputs-wrap {
  padding-right: 80px;
}
.contact .box-header {
  margin-bottom: 27px;
}
.contact .text p {
  padding-top: 20px;
  margin-bottom: 20px;
}
.contact .button-wrap {
  padding-top: 7px;
}
.contact .field {
  margin-bottom: 30px;
}
.contact .field label {
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
  padding: 4px 0;
}
.contact .field .input {
  display: block;
  background: transparent;
  border: 2px solid #fff;
  font: inherit;
  outline: none;
  padding: 17px;
  height: auto;
  width: 100%;
  transition: border-color .2s ease-in-out;
}
.contact .field .input:focus {
  border-color: #4bcaff;
}
.contact .field textarea.input {
  max-width: 100%;
  resize: vertical;
}
.contact button.btn {
  max-width: 370px;
  width: 100%;
  display: block;
  padding: 16px 39px;
}
.default {
  background-color: #515f67;
  color: #fff;
}
.default h2 {
  margin-bottom: 33px;
}
.default p {
  margin-bottom: 30px;
}
.default p:last-of-type {
  margin-bottom: 10px;
}
.main-footer {
  background-color: #353f46;
  color: #515f67;
  font-size: 0.86em;
  padding: 75px 0;
}
.main-footer nav {
  text-transform: uppercase;
  font-weight: 600;
  float: left;
}
.main-footer nav a {
  display: inline-block;
  padding: 1px 13px;
  line-height: 1.2;
  color: inherit;
  position: relative;
  transition: color .2s ease-in-out;
}
.main-footer nav a:hover {
  color: #6e818b;
}
.main-footer nav a:last-of-type:after {
  display: none;
}
.main-footer nav a:after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  width: 1px;
  background-color: #4a575f;
}
.main-footer .copyright {
  float: right;
}
.main-header {
  background-color: rgba(53,63,70,0.85);
  padding: 58px 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  color: #fff;
}
.main-header.fixed {
  position: fixed;
  padding: 28px 0;
  transition: padding .2s ease-in-out;
}
.main-header .toggle-nav {
  background-color: #fff;
  border: 1px solid #000;
  outline: none;
  float: right;
  width: 35px;
  height: 35px;
  margin: 0;
  display: none;
  border-radius: 4px;
/* on activation */
  display: none;
  margin: -6px 0;
}
.main-header .toggle-nav span {
  position: relative;
  display: block;
}
.main-header .toggle-nav span:after,
.main-header .toggle-nav span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -7px;
}
.main-header .toggle-nav span:after {
  top: 7px;
}
.main-header .toggle-nav span,
.main-header .toggle-nav span:after,
.main-header .toggle-nav span:before {
  width: 100%;
  height: 2px;
  background-color: #000;
  transition: all 0.3s;
  backface-visibility: hidden;
  border-radius: 2px;
}
.main-header .toggle-nav.active span {
  background-color: transparent;
}
.main-header .toggle-nav.active span:before {
  transform: rotate(45deg) translate(5px, 5px);
}
.main-header .toggle-nav.active span:after {
  transform: rotate(-45deg) translate(5px, -5px);
}
.main-header .col {
  vertical-align: middle;
}
.main-header .logo {
  display: inline-block;
}
.main-nav {
  text-align: right;
}
.main-nav a {
  display: inline-block;
  color: inherit;
  font-weight: 700;
  border: 2px solid transparent;
  text-transform: uppercase;
  padding: 4px 18px;
  margin: 0 1px;
  transition: border-color .2s ease-in-out, color .2s ease-in-out;
}
.main-nav a:last-of-type {
  margin-right: -20px;
}
.main-nav a.active,
.main-nav a:hover {
  border-color: #4bcaff;
  color: #4bcaff;
}
.hero {
  background: url("../img/hero-bg.jpg") no-repeat center center;
  background-size: cover;
  padding: 300px 0 250px 0;
  text-align: center;
  color: #fff;
  font-size: 2.86em;
  font-weight: 300;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hero p {
  background-color: rgba(53,63,70,0.85);
  width: auto;
  padding: 0 20px;
  margin-bottom: 12px;
}
.portfolio {
  color: #515f67;
  padding-bottom: 44px !important;
}
.portfolio h2.divider {
  float: left;
}
.portfolio h2.divider:after {
  background-color: #515f67;
}
.portfolio .tags {
  float: right;
}
.portfolio .items {
  margin: 0 -15px;
  padding: 20px 0;
}
.portfolio .item {
  padding: 15px;
  display: none;
}
.portfolio .item:hover .overlay {
  opacity: 1;
}
.portfolio .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  opacity: 0;
  background-color: rgba(53,63,70,0.9);
  transition: opacity .2s ease-in-out;
}
.portfolio .overlay a {
  display: block;
  color: #fff;
  font-size: 72px;
  text-align: center;
  font-weight: 300;
  line-height: 1;
  width: 100%;
  height: 100%;
}
.portfolio .overlay span {
  display: block;
  width: 72px;
  height: 72px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.portfolio .item-inner {
  position: relative;
}
.quote-section {
  background-color: #fff;
}
.quote-section.twitter {
  background-color: #4bcaff;
  color: #fff;
}
.quote-section.testimonials {
  background-color: #fff;
  color: #515f67;
}
.quote-section.testimonials h2.divider:after {
  background-color: #515f67;
}
.quote-section.testimonials .box-header .icon {
  fill: #515f67;
}
.quote-section .box-header {
  margin-bottom: 20px;
}
.quote-section .box-header h2.divider {
  float: left;
}
.quote-section .box-header .icon {
  float: right;
  width: 30px;
  height: 30px;
  fill: #fff;
}
.quote-section .content a {
  font-weight: 400;
}
.quote-section .content a:hover {
  text-decoration: underline;
}
.quote-section .content blockquote {
  font-size: 2em;
  font-weight: 300;
  margin: 0;
  padding: 0;
  line-height: 1.8;
}
.quote-section .content .quote-author {
  color: #4bcaff;
  padding-top: 25px;
}
.quote-section .content .quote-author a {
  font-weight: 700;
}
.services {
  background-color: #4bcaff;
  color: #fff;
}
.services .items {
  margin: 0 -15px -25px;
}
.services .item {
  padding: 0 15px;
  margin-bottom: 25px;
}
.services .item .icon {
  margin-bottom: 20px;
}
.services .item p {
  margin-bottom: 12px;
  font-size: 0.86em;
  line-height: 1.5;
}
.services .item p.title {
  font-size: 1.71em;
  line-height: 1.1;
  text-transform: uppercase;
}
.services .item p:last-of-type {
  margin-bottom: 0;
}
.whois {
  background: url("../img/whois-bg.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 93px;
  padding-bottom: 152px;
}
.whois .items {
  margin: -20px;
}
.whois .items .item {
  padding: 20px;
}
.whois .socials {
  padding-top: 23px;
}
html {
  font: 14px/1.7 'Open Sans', sans-serif;
}
h2 {
  font-size: 2.14em;
  font-weight: 300;
  line-height: 1.2;
  color: inherit;
  text-transform: uppercase;
}
.main-box {
  padding: 73px 0;
}
h2.divider {
  line-height: 1.1;
}
h2.divider:after {
  content: '';
  display: block;
  width: 45px;
  height: 2px;
  background-color: #fff;
  margin: 5px 0;
}
.box-header {
  margin-bottom: 40px;
}
.tags {
  margin: 0;
  padding: 10px 0 0;
  margin-right: -20px;
}
.tags button {
  background: none;
  outline: none;
  border: none;
  display: inline-block;
  color: inherit;
  font-weight: 700;
  border: 2px solid transparent;
  text-transform: uppercase;
  padding: 1px 18px;
  margin: 0 1px;
  cursor: pointer;
  transition: border-color .2s ease-in-out, color .2s ease-in-out;
}
.tags button.active,
.tags button:hover {
  border-color: #4bcaff;
  color: #4bcaff;
}
.btn {
  display: inline-block;
  color: #353f46;
  font-weight: 700;
  text-transform: uppercase;
  border: 2px solid transparent;
  padding: 9px 39px;
}
.btn-outlined {
  border-color: #353f46;
  transition: color .2s ease-in-out, border-color .2s ease-in-out;
}
.btn-outlined:hover {
  color: #fff;
  border-color: #fff;
}
.btn-theme {
  background-color: #4bcaff;
  color: #fff;
  transition: color .2s ease-in-out, background-color .2s ease-in-out;
}
.btn-theme:hover {
  background-color: #2ac0ff;
}
.padded-right {
  padding-right: 90px;
}
.padded-left {
  padding-left: 90px;
}
.socials {
  margin: -8px;
}
.socials a {
  width: 64px;
  height: 64px;
  display: inline-block;
  margin: 6px 8px;
  border: 2px solid #fff;
  text-align: center;
  line-height: 57.6px;
  vertical-align: middle;
  transition: border-color .2s ease-in-out, color .2s ease-in-out;
}
.socials a:hover {
  color: #4bcaff;
  border-color: #4bcaff;
}
.socials a:hover .icon {
  fill: #4bcaff;
}
.socials a .icon {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  fill: #fff;
  transition: fill .2s ease-in-out;
}
@media only screen and (max-width: 1199px) {
  .hero {
    font-size: 2em;
  }
}
@media only screen and (max-width: 991px) {
  .padded-right,
  .padded-left {
    padding-right: 0;
    padding-left: 0;
  }
  .default h2 {
    text-align: center;
  }
  .default h2:after {
    margin: 5px auto;
  }
  .socials {
    text-align: center;
  }
  .default .col {
    margin-bottom: 30px;
  }
  .default .col:last-of-type {
    margin-bottom: 0;
  }
}
@media only screen and (max-width: 767px) {
  html {
    font-size: 13px;
  }
  .contact .inputs-wrap {
    padding-right: 0;
  }
  .row {
    padding-right: 10px;
    padding-left: 10px;
  }
  .whois .items {
    margin: 0;
  }
  .whois .items .item {
    padding: 0;
  }
  .contact button.btn {
    max-width: auto;
    width: auto;
    display: inline-block;
  }
  .contact .text p {
    margin-bottom: 10px;
    padding-top: 0;
  }
  .quote-section .content blockquote {
    font-size: 1.5em;
  }
  .quote-section .box-header {
    padding: 0 10px;
  }
  .whois .items .item {
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
  .main-box {
    text-align: center;
  }
  .portfolio .items,
  .services .items,
  .tags {
    margin-left: 0;
    margin-right: 0;
  }
  .box-header h2:after {
    margin-left: auto;
    margin-right: auto;
  }
  .main-header .toggle-nav {
    display: block;
  }
  .main-nav {
    display: none;
    padding-top: 30px;
    text-align: center;
  }
  .main-nav.active {
    display: block;
  }
  .main-nav a {
    display: block;
    margin-bottom: 5px;
  }
  .main-nav a:last-of-type {
    margin-bottom: 0;
    margin-right: 0;
  }
  .hero {
    font-size: 1.14em;
    padding: 200px 0 150px 0;
  }
  .portfolio .box-header h2,
  .portfolio .tags {
    float: none;
  }
  .portfolio .item {
    padding: 1px;
  }
  .main-header {
    padding: 38px 5px;
  }
  .services .item .icon,
  .services .item p.title {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0;
  }
  .services .item p + p {
    padding-top: 15px;
  }
  .main-footer {
    text-align: center;
  }
  .main-footer nav,
  .main-footer .copyright {
    float: none;
  }
  .main-footer nav {
    margin-bottom: 20px;
  }
}
